
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .elevator-panel {
    display: none;
    position: absolute; 
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center; 
    gap: 20px;
    padding: 20px;
    background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 300px; 
  }
  
  .floor-display {
    color: red;
    background-color: black;
    font-family: 'Digital-7', monospace;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    width: 100%; 
    border-radius: 5px;
  }
  
  .button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%; 
  }
  
  
  .floor-display {
    color: red;
    background-color: black;
    font-family: 'Digital-7', monospace;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    width: 100%; 
    border: 2px groove rgb(104, 103, 103);
    border-radius: 5px;
  }
  
  .button-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, max-content)); 
    column-gap: 50px;
    row-gap: 20px;
    justify-content: center;
    width: 100%;
  }
  
  
  .button {
    width: 60px;
    height: 60px;
    padding: 20px;
    border-radius: 50%;
    border: 2px groove #fc0303;
    color: #fc0303;
    background: black;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s;
  }

  .elevator-footer {
    color: black;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: right;
    width: 100%;
    padding: 10px 0;
    margin-top: 10px; 
    order: 3; 
  }
  .button:hover {
    transform: scale(1.1);
    border-color: #38f100;
    color: #38f100;
  }
  
  /* .button:active {
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
  } */

  .button-selected {
    border-color: #007bff; 
    color: #007bff; 
  }
  
  .close-doors {
    font-size: 24px; 
    text-align: center;
    user-select: none; 
    padding: 5px; 
  }